@model AuthPoc.Web.Models.UsersViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AuthPoc</h1>
    <p class="lead">Nuskavise ...</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    @Html.Partial("Partial2", Model.Values)
</div>
<div class="row">
    @Html.Partial("Partial1", Model.Users)
</div>